* {
    animation: slideFadeIn 0.5s;
}

main.container-fluid {
    padding: 1rem;
}

button {
    width: fit-content;
}

h1, button {
    margin: 0;
}

form button {
    width: 100%;
}

table {
    width: calc(100% - 2rem);
    margin: auto;
}

td {
    padding-left: 0;
    padding-right: 0;
}

ul[role=listbox] {
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.edit {
    background-color: orange;
    border-color: orange;
}

.delete, .block, .close {
    background-color: red;
    border-color: red;
}

.outline {
    background-color: white;
    border-color: black;
    color: red;
}

.unblock {
    background-color: lime;
    border-color: lime;
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10%);
    }
}