* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
img{
    width: 50%;
}

#site-logo{
	width:100px;
}

#profile-picture{
	border-radius: 50%;
	height:67px;
	width:67px;
}

h1{
	font-size: 13pt;
}
h1 a{
    width: 15%;
}
ul {
    width:100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
/*section{*/
/*	display: flex;*/
/*}*/
section ul {
	padding:0.5%;
	width:50%;
}
a {
    color: #34495e;
	text-decoration: none;
}

.logo {
	margin: 0;
	width:50%;
	font-size: 1.45em;
}

.header{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
    border-radius: 5px;
}
.main-nav{
    display: flex;
	justify-content: space-between;
	margin-top: 5px
}
.main-nav li{
	display: flex;
	justify-content: center;
	align-items: center;
    flex: 1
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: 1em;
}

.main-nav a:hover {
	color: #718daa;
}

#competencyList ul, #elementList ul, #courseList, #domainList ul{
	width: auto;
	margin: 0;
	list-style-type: disc;
}

/* Delete/Edit Btn */
.icon{
	display: flex;
	align-items: center;
	width:85%;
}
.icon .edit,.icon .delete{
	width:6.7%;
	margin-left: 2em;
}

.icon .edit img, .icon .delete img{
	width:50%;
}

#course-header{
	width:74%;
}

#course-header .title{
	width:22%;
}

#course-header #course-title{
	width:12%;
}

#course-header img{
	width:74%;
	width:30px;
}

#elements-competency{
	width:40%;
}
