{% extends 'base.html' %}
{% block title %}
    Add Page
{% endblock %}
{% block headerTitle %}
    Use the buttons below to add something new to the database
{% endblock %}
{% block script %}
    <link rel="stylesheet" href="{{url_for('static', filename='add.css')}}"/>
{% endblock %}
{% block sectionContent%}
    <div class="add-options">
        <a href="{{url_for('add.add_course')}}"><button>Add a new course</button></a>
        <a href="{{url_for('add.add_competency')}}"><button>Add a new competency</button></a>
        <a href="{{url_for('add.add_domain')}}"><button>Add a new domain</button></a>
        <a href="{{url_for('add.add_element_competency')}}"><button>Add a new element of competency</button></a>
        <a href="{{url_for('add.add_term')}}"><button>Add a new term</button></a>
    </div>
{% endblock%}

