{% extends 'base.html' %}
{% block title %}
    Add Course
{% endblock %}
{% block headerTitle %}
{% endblock %}
{% block script %}
    <link rel="stylesheet" href="{{url_for('static', filename='add.css')}}"/>
{% endblock %}
{% block sectionContent%}
    <h1>New Course:</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.id.label}}              {{ form.id() }}             <div class="error">{{ form.id.errors[0]}}</div>
        {{ form.name.label}}            {{ form.name() }}           <div class="error">{{ form.id.errors[0]}}</div>
        {{ form.description.label}}     {{ form.description() }}
        {{ form.termId.label}}          {{ form.termId() }}
        {{ form.domainId.label}}        {{ form.domainId() }}
        {{ form.theory_hours.label}}    {{ form.theory_hours() }}
        {{ form.lab_hours.label}}       {{ form.lab_hours() }}
        {{ form.work_hours.label}}      {{ form.work_hours() }}
        <button type="submit" id="addCourse" name="addCourse"> Submit </button>
    </form>
{% endblock%}

