{% extends 'base.html' %}
{% block title %}
    Add Domain
{% endblock %}
{% block headerTitle %}
{% endblock %}
{% block script %}
    <link rel="stylesheet" href="{{url_for('static', filename='add.css')}}"/>
{% endblock %}
{% block content%}
    <h1>New Domain:</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.id.label}}              {{ form.id() }}
        {{ form.name.label}}            {{ form.name() }}
        {{ form.description.label}}     {{ form.description() }}
        <button type="submit" id="addDomain" name="addDomain"> Submit </button>
    </form>
{% endblock%}

