{% extends 'base.html' %}
{% block title %}
    Add Domain
{% endblock %}
{% block headerTitle %}
    Add Domain
{% endblock %}
{% block script %}
{% endblock %}
{% block sectionContent%}
    <h1>New Domain:</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.id.label}}              {{ form.id() }}
        {{ form.name.label}}            {{ form.name() }}
        {{ form.description.label}}     {{ form.description() }}
        <input type="submit" id="addDomain" name="addDomain"/>
    </form>
{% endblock%}

