{% extends 'base.html' %}
{% block title %}
    Add
{% endblock %}
{% block headerTitle %}
    Choose the entity to add
{% endblock %}
{% block script %}
    <link rel="stylesheet" href="{{url_for('static', filename='add.css')}}"/>
{% endblock %}
{% block content%}
    <button type="button" id="addCourses" name="addCourses" ><a href="{{url_for('courses.create_course')}}"> COURSES </a></button>
    <button type="button" id="addTerms" name="addTerms" > <a href="{{url_for('terms.create_term')}}"> TERMS  </a> </button>
    <button type="button" id="addDomains" name="addDomains"> <a href="{{url_for('domains.create_domain')}}"> DOMAINS</a> </button>
    <button type="button" id="addElements" name="addElements"> <a href="{{url_for('elements.create_element')}}"> ELEMENTS </a> </button>
    <button type="button" id="addCompetencies" name="addCompetencies"> <a href="{{url_for('competencies.create_competency')}}"> COMPETENCIES </a> </button>
{% endblock%}
