{% extends 'base.html' %}
{% block title %}
    Update Competency
{% endblock %}
{% block headerTitle %}
{% endblock %}
{% block script %}
    <link rel="stylesheet" href="{{url_for('static', filename='add.css')}}"/>
{% endblock %}
{% block content%}
    <h1>Competency to Update:</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.id.label}}              {{ form.id() }}
        {{ form.name.label}}            {{ form.name() }}
        {{ form.achievement.label}}     {{ form.achievement() }}
        {{ form.type.label}}            {{ form.type() }}
        <button type="submit" id="addCompetency" name="addCompetency"> Update </button>
    </form>
{% endblock%}

