<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Scholar Organizer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
        <script defer src="https://kit.fontawesome.com/411819bb51.js" crossorigin="anonymous"></script>
        {% block head %} <!-- additional head urls --> {% endblock %}
    </head>

    <body>
        <nav>
            <ul>
                <li><a id="title" href="{{ url_for('home.index') }}"><strong><i class="fa-solid fa-house"></i> Scholar Organizer</strong></a></li>
            </ul>
            <ul>
                {% if current_user.group_id == 2 %}
                    <li><a href="{{ url_for('groups.index') }}">Groups</a></li>
                {% endif %}

                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('users.index') }}">Users</a></li>
                    <li><a href="{{ url_for('add.index') }}">Add</a> </li>
                    <li><a href="{{ url_for('auth.change_avatar', email=current_user.email) }}"><img id="profile-picture" src="{{ url_for('auth.show_avatar', email=current_user.email) }}" alt="profile-picture"></a></li>
                    <li><a href="{{ url_for('auth.logout') }}" class="outline" role="button">Logout</a></li>
                {% endif %}

                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.login') }}" role="button">Login</a></li>
                    <li><a href="{{ url_for('auth.signup') }}" class="outline" role="button">Signup</a></li>
                {% endif %}
            </ul>
        </nav>

        <main class="container-fluid">
            {% block content %} <!-- content --> {% endblock %}
        </main>

        <div class="flash-container">
            {% for message in get_flashed_messages() %}
                <div class="flash"><i class="fa-solid fa-circle-info"></i><b>{{ message }}</b></div>
            {% endfor %}
        </div>
    </body>
</html>