{% extends 'base.html' %}
{% block title %}
    Competency List
{% endblock %}
{% block headerTitle %}
    Competency List
{% endblock %}
{% block script %}
    <script defer type="text/javascript" src="{{ url_for('static', filename='competencyScript.js')}}"></script>
{% endblock %}
{% block sectionContent%}
    <h1>Competencies:</h1>
    <ul class="competencyList">
        {% for competency in banner %}
            <li class="competencyItem"> <a href={{url_for('competency.get_competencies', competency=competency.name)}}> {{competency | safe}} </a>   </li>
        {% endfor %}
    </ul>    <button type="button" id="addCompetency" name="addCompetency"> Add </button>
{% endblock%}
