{% extends 'base.html' %}
{% block title %}
    Elements of {{competency.name}}
{% endblock %}
{% block headerTitle %}
    <p>Code: {{competency.id | safe}}</p>
    <div class='icon' id="course-header">
        <a class="title" href="{{ url_for('competencies.list_elements', competency_id=competency.id) }}">{{competency.name | safe}}</a>
        <a class='edit' href="{{url_for('competencies.update_competency',  competency_id=competency.id)}}"><img class='icon' src="{{url_for('static', filename='media/edit.png')}}"></a>
        <a class='delete' onclick="return confirm('Deleting this Competency will also delete his Elements. Continue?')" href="{{url_for('competencies.delete', competency_id=competency.id)}}"><img class='icon' src="{{url_for('static', filename='media/delete.png')}}"></a>
    </div>
    <p>{{competency.achievement | safe}}</p>
    <p>Type: {{competency.type | safe}}</p>
    <hr>
    Elements of {{competency.name}}
    <hr>
{% endblock %}
{% block head %}
{% endblock %}
{% block content%}
    <ol>
        {% for element in elements%}
            {% if element.competencyId==competency.id%}
                <li>
                    <div class='icon' id="elements-competency">
                        <p>Title: {{element.name | safe}}</p>
                        <a class='edit' href="{{url_for('elements.update_element',  element_id=element.id)}}"><img src="{{url_for('static', filename='media/edit.png')}}"></a>
                        <a class='delete' href="{{url_for('elements.delete', element_id=element.id)}}"><img src="{{url_for('static', filename='media/delete.png')}}"></a> 
                    </div>
                    <p>{{element.criteria | safe}}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock%}
