{% extends 'base.html' %}
{% block title %}
    Competency List
{% endblock %}
{% block headerTitle %}
    Competencies List
{% endblock %}
{% block script %}
{% endblock %}
{% block sectionContent%}
    <ul>
        {% for competency in competencies %}
            <li>
                <p>Code: {{competency.id | safe}}</p>
                <a href="{{ url_for('competencies.list_elements', competency_id=competency.id) }}">{{competency.name | safe}}</a>
                <p>{{competency.achievement | safe}}</p>
                <p>Type: {{competency.type | safe}}</p>
            </li>
            <li>
                <ol>
                    {% for element in elements_covered%}
                        {% if element.competencyId==competency.id%}
                            <li>
                                <p>Title: {{element.name | safe}}</p>
                                <p>{{element.criteria | safe}}</p>
                            </li>
                        {% endif %}
                        
                    {% endfor %}
                </ol>
            </li>
            <hr>
        {% endfor %}
    </ul>
    <a href="{{url_for('add.add_course')}}"><button>Add a new competency for this course</button></a>
{% endblock%}
