{% extends 'base.html' %}
{% block title %}
    Course List
{% endblock %}
{% block headerTitle %}
    Course List
{% endblock %}
{% block script %}

{% endblock %}
{% block sectionContent%}
    <h1>Course:</h1>
    <ul class="courseList">
        {% for course in banner %}
        <li class="courseItem"> 
            <a href="{{ url_for('courses.list_competencies', course_id=course.id) }}"> {{course | safe}} </a>  
        </li>
        {% endfor %}
    </ul>
    <button type="button" id="addCourse" name="addCourse"> <a href={{url_for('courses.create_course')}}> Add </a> </button>
{% endblock%}
