{% extends 'base.html' %}
{% block title %}
    Display
{% endblock %}
{% block headerTitle %}
    Choose the list
{% endblock %}
{% block script %}
{% endblock %}
{% block content%}
    <button type="button" id="showCourses" name="showCourses" ><a href="{{url_for('courses.get_courses')}}"> COURSES </a></button>
    <button type="button" id="showTerms" name="showTerms" > <a href="{{url_for('terms.get_terms')}}"> TERMS  </a> </button>
    <button type="button" id="showDomains" name="showDomains"> <a href="{{url_for('domains.get_domains')}}"> DOMAINS</a> </button>
    <button type="button" id="showElements" name="showElements"> <a href="{{url_for('elements.get_elements')}}"> ELEMENTS </a> </button>
    <button type="button" id="showCompetencies" name="showCompetencies"> <a href="{{url_for('competencies.get_competencies')}}"> COMPETENCIES </a> </button>
{% endblock%}
