{% extends "base.html" %}
{% block head %}
    <title>Domain</title>
{% endblock %}

{% block content %}
    <main>
        <div class="headings">
            <div class="title">
                <h2>{{ domain.name }}</h2>
                <a class="edit" href="{{ url_for('domains.update_domain', domain_id=domain.id) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="delete" href="{{ url_for('domains.delete', domain_id=domain.id) }}"><i class="fa-solid fa-trash"></i></a>
            </div>
            <p>{{ domain.description }}</p>
        </div>
    </main>
{% endblock%}