{% extends 'base.html' %}
{% block title %}
    Domain List
{% endblock %}
{% block headerTitle %}
    Domain List
{% endblock %}
{% block script %}
{% endblock %}
{% block sectionContent%}
    <h1>Domains:</h1>
    <ul class="domainList">
        {% for domain in banner %}
        <li class="domainItem"> <a href={{url_for('domains.get_domains')}}> {{domain | safe}} </a>   </li>
        {% endfor %}
    </ul>
    <button type="button" id="addDomain" name="addDomain"> <a href={{url_for('domains.create_domain')}}> Add </a> </button>
{% endblock%}
