{% extends 'base.html' %}
{% block title %}
    Element List
{% endblock %}
{% block headerTitle %}
    Elements List
{% endblock %}
{% block script %}
{% endblock %}
{% block sectionContent%}
    <h1></h1>
    <ol>
        {% for element in elements %}
            <li>
                <p>Title: {{element.name | safe}}</p>
                <div class='icon'>
                    <a class='edit' href="{{url_for('elements.update_element',  element_id=element.id)}}"><img src="{{url_for('static', filename='media/edit.png')}}"></a>
                    <a class='delete' href="{{url_for('elements.delete', element_id=element.id)}}"><img src="{{url_for('static', filename='media/delete.png')}}"></a> 
                </div>
                <p>ID: {{element.id | safe}}</p>
                <p>Order: {{element.order | safe}}</p>
                <p>{{element.criteria | safe}}</p>
            </li>
            <hr>
        {% endfor %}
    </ol>
{% endblock%}
