{% extends 'base.html' %}
{% block title %}
    Element List
{% endblock %}
{% block headerTitle %}
    {% if competency%}
        Elements of {{competency.name}}, {{competency.id}}
        {% else %}
            Competencies List
    {% endif %}
{% endblock %}
{% block script %}
{% endblock %}
{% block sectionContent%}
    <ol>
        {% for element in elements %}
            <li>
                <p>Title: {{element.name | safe}}</p>
                <p>{{element.criteria | safe}}</p>
            </li>
            <hr>
        {% endfor %}
    </ol>
{% endblock%}
