{% extends 'base.html' %}
{% block title %}
    Element List
{% endblock %}
{% block headerTitle %}
    Elements List
{% endblock %}
{% block script %}
    <script defer type="text/javascript" src="{{ url_for('static', filename='elementScript.js')}}"></script>
{% endblock %}
{% block sectionContent%}
    <ul>
        {% for element in elements %}
            <li>
                <p>{{element.name | safe}}</p>
                <p>{{element.criteria | safe}}</p>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock%}
