{% extends 'base.html' %}
{% block title %}
    Group List
{% endblock %}
{% block script %}
    <script defer type="text/javascript" src="{{ url_for('static', filename='groups.js')}}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        main.container-fluid {
            padding: 1rem;
            animation: fadeIn 0.5s;
        }

        #header {
            display: flex;
            justify-content: space-between;
        }

        #group-container {
            display: none;
        }

        button {
            width: 200px;
        }

        form button {
            width: 100%;
        }

        h1 {
            margin: 0;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Darkens the background */
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s, visibility 0s 0.5s;
        }

        .active {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-10%);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
{% endblock %}
{% block sectionContent%}
    <main id="header" class="container-fluid">
        <h1>Groups</h1>
        {% if manages %}
            <button onclick="openForm()">Create Group</button>
        {% endif %}
    </main>
    <div>
        <ul>
            {% for group in groups %}
                <li style="display: flex">
                    <p>{{ group.name }}</p>

                    {% if manages %}
                        {#                        <button onclick="openForm("", {{ group.id }})">Edit</button>#}
                        {#                        <button onclick="openForm(2, {{ group.id }})">Delete</button>#}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <main id="group-container" class="container-fluid overlay">
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ form.name.label }} {{ form.name() }} <br>
            <button type="submit">Create Group</button>
        </form>
    </main>

{% endblock%}
