{% extends 'base.html' %}

{% block title %}
    Course Plpanner
{% endblock %}

{% block script %}
    <script defer type="text/javascript" src="{{ url_for('static', filename='CoursePlanner.js')}}"></script>
{% endblock %}

{% block headerTitle %}
    Welcome to the Course Planner website
{% endblock %}

{% block sectionContent%}
    <ul>
        {% for course in courses %}
            <li>
                <a>{{course.name | safe}}</a>
                <p>{{course.description | safe}}</p>
                {% if course.termId%2==0 %}
                    <p>Session: Winter</p>
                    {%else%}
                        <p>Session: Fall</p>
                {% endif %}
                <p>Class hours: {{course.theory_hours | safe}}</p>
                <p>Lab hours: {{course.lab_hours | safe}}</p>
                <p>Homework hours: {{course.work_hours | safe}}</p>
            </li>
        {% endfor %}
    </ul>
    
{% endblock%}
