{% extends 'base.html' %}

{% block title %}
    Course Plpanner
{% endblock %}

{% block script %}
    <script defer type="text/javascript" src="{{ url_for('static', filename='CoursePlanner.js')}}"></script>
{% endblock %}

{% block headerTitle %}
    Courses List
{% endblock %}

{% block sectionContent%}
    <ul>
        {% for course in courses %}
            <li>
                <a href="{{ url_for('home.list_competencies', course_id=course.id) }}">{{course.name | safe}}</a>
                <p>{{course.description | safe}}</p>
                {% if course.termId%2==0 %}
                    <p>Session: Winter</p>
                    {%else%}
                        <p>Session: Fall</p>
                {% endif %}
                <p>Class hours: {{course.theory_hours | safe}}</p>
                <p>Lab hours: {{course.lab_hours | safe}}</p>
                <p>Homework hours: {{course.work_hours | safe}}</p>
            </li>
            <hr>
        {% endfor %}
        <a href="{{url_for('home.add_course')}}"><button>Add a new course</button></a>
        <a href="{{url_for('home.add_competency')}}"><button>Add a new competency</button></a>
        <a href="{{url_for('home.add_domain')}}"><button>Add a new domain</button></a>
        <a href="{{url_for('home.add_element_competency')}}"><button>Add a new element of competency</button></a>
        <a href="{{url_for('home.add_term')}}"><button>Add a new term</button></a>
    </ul>
{% endblock%}
