{% extends "base.html" %}
{% block head %}
    <title>Term List</title>
{% endblock %}

{% block content %}
    <input type="text" name="filter" placeholder="Type words and press Enter">
    <a href="{{ url_for('terms.create_term') }}"><button>Add Term</button></a>
    <br>
    {% for term in terms %}
        <main class="searchable">
            <div class="headings">
                <div class="title">
                    <kbd>{{ term.id }}</kbd>
                    <h2>{{ term.name }}</h2>
                    <a class="edit" href="{{ url_for('terms.update_term', term_id=term.id) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="delete" href="{{ url_for('terms.delete', term_id=term.id) }}"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        </main>
        <hr>
    {% endfor %}
{% endblock%}